<div class="container-fluid">
  <h1>User List</h1>
  <br />
  <a class="btn btn-success" routerLink="add">เพิ่มใหม่</a>
  <table class="table">
    <thead>
      <td>ลำดับ</td>
      <td>ชื่อ</td>
      <td>นามสกุล</td>
      <td>Email</td>
      <td>รูปภาพ</td>
      <td>manage</td>
    </thead>
    <tbody>
      <tr *ngFor="let item of userList; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.email }}</td>
        <td>
          <img src="{{ item.avatar }}" alt="" />
        </td>
        <td>
          <a class="btn btn-warning" [routerLink]="[item.id, 'edit']">แก้ไข</a>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDelete(item.id)"
          >
            ลบ
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
