<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <h2>จัดการข้อมูล User</h2>
    <div style="margin:20px 0 25px 0;">
      <div class="form-group">
        <label for="firstname">ชื่อ:</label>
        <input
          type="text"
          class="form-control"
          id="firstname"
          placeholder="Enter firstname"
          formControlName="firstname"
        />
      </div>
      <div class="form-group">
        <label for="lastname">นามสกุล:</label>
        <input
          type="text"
          class="form-control"
          id="lastname"
          placeholder="Enter lastname"
          formControlName="lastname"
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Enter email"
          formControlName="email"
        />
      </div>

      <div class="form-group form-check">
        <label class="form-check-label">
          <input
            id="chkIsThai"
            formControlName="chkIsThai"
            class="form-check-input"
            type="checkbox"
          />
          เป็นคนไทย
        </label>
      </div>
      <div class="form-group">
        <label for="email">สถานะ:</label>
        <div class="m-radio-inline">
          <label class="m-radio">
            <input
              name="status"
              type="radio"
              value="S"
              formControlName="status"
            />
            โสด
            <span></span>
          </label>
          <label class="m-radio">
            <input
              name="status"
              type="radio"
              value="M"
              formControlName="status"
            />
            สมรส
            <span></span>
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
