<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="user">UserList <span
                  class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="elementofrisk">Element Of Risk <span
                  class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="gpa">GPA <span
                  class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="product">Product <span
                  class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" routerLink="reference"
             id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Reference</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Person</a>
            <a class="dropdown-item" href="#">Organization</a>
          </div>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search"
               aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0"
                type="submit">Search</button>
      </form> -->
    </div>
  </nav>